/*ALL PAGES*/

body{
    background-color: lightblue;
}

h1{
    text-align: center;
    background-color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

ul{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*MAIN PAGE*/

.navigation{
    display: flex;
    justify-content: space-evenly;
}
/* RECIPE PAGES*/

.description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;

}

.steps{
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}